################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Note/.vs/Note/FileContentIndex
/Note/.vs/Note/FileContentIndex/31cd490b-6d61-4e73-b5fa-0641300e5e79.vsidx
/Note/.vs/Note/v17/.suo
/Note/.vs/Note/v17/DocumentLayout.json
/Note/obj
/Note.Entities/obj/Debug/net8.0
/Note.Entities/obj
/Note.Data/obj/Debug/net8.0
/Note.Data/obj
/Note/.vs/Note
/Note/.vs/ProjectEvaluation/note.metadata.v8.bin
/Note/.vs/ProjectEvaluation/note.projects.v8.bin
/Note/.vs/ProjectEvaluation/note.strings.v8.bin
/Note/bin/Debug/net8.0/appsettings.Development.json
/Note/bin/Debug/net8.0/appsettings.json
/Note/bin/Debug/net8.0/AutoMapper.dll
/Note/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Note/bin/Debug/net8.0/Note.App.deps.json
/Note/bin/Debug/net8.0/Note.App.dll
/Note/bin/Debug/net8.0/Note.App.exe
/Note/bin/Debug/net8.0/Note.App.pdb
/Note/bin/Debug/net8.0/Note.App.runtimeconfig.json
/Note/bin/Debug/net8.0/Note.Data.dll
/Note/bin/Debug/net8.0/Note.Data.pdb
/Note/bin/Debug/net8.0/Note.Entities.dll
/Note/bin/Debug/net8.0/Note.Entities.pdb
/Note/bin/Debug/net8.0/Pipelines.Sockets.Unofficial.dll
/Note/bin/Debug/net8.0/StackExchange.Redis.dll
/Note/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Note/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Note/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Note.Data/bin/Debug/net8.0/Note.Data.deps.json
/Note.Data/bin/Debug/net8.0/Note.Data.dll
/Note.Data/bin/Debug/net8.0/Note.Data.pdb
/Note.Data/bin/Debug/net8.0/Note.Entities.dll
/Note.Data/bin/Debug/net8.0/Note.Entities.pdb
/Note.Entities/bin/Debug/net8.0/Note.Entities.deps.json
/Note.Entities/bin/Debug/net8.0/Note.Entities.dll
/Note.Entities/bin/Debug/net8.0/Note.Entities.pdb
